.tela-principal{
    display:flex;
    flex-direction: column;
    width:375px;
}
 .banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width:375px;
    background-color: #FFFFFF;
    padding-left:22px;
    padding-right: 22px;
    box-sizing: border-box;
}
.tela-principal header{
 position:fixed;
 top:0;
 box-shadow: 0px 4px 6px 0px #0000000D;
}
.tela-principal footer{
    position:fixed;
    bottom:0;
    box-shadow: 0px -4px 6px 0px #0000000D;
}

.tela-principal header img{
    height: 53px;
    width: 75px;
}
.conteudo{
width:100%;
padding:106px 0;

/* height: 500px; */
box-sizing: border-box;
background-color:#E5E5E5 ;
}

.mensagem-geral{
    display:flex;
    min-height: 40px;
    margin-bottom:4px;
    background-color: #FFFFFF;
    width: 100%;
    word-wrap: break-word;
}
 .status{

    background-color: blue;
}
 .privada{

    background-color: red;
}
.hidden{
    display: none;
}
.mensagem-geral span{
    margin-left: 8px;
}

body{
background-color: black;
}